@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.flex {
    display: flex;

}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;

}

.p-1 {
    padding: 0px 10px;

}

.p-2 {
    padding: 10px;

}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;

}

.font-color {
    color: wahite;
}

.gradient-primery {
    background: #FF8660;
    background: linear-gradient(90deg, rgba(255, 134, 96, 1) 47%, rgba(154, 51, 255, 1) 100%);
}

.gradient-secondry {
    background: #FF8660;
    background: linear-gradient(90deg, rgba(255, 134, 96, 1) 47%, rgba(213, 73, 29, 1) 100%);
}

.gradient-third {
    background: #5BADFF;
    background: linear-gradient(90deg, rgba(91, 173, 255, 1) 47%, rgba(19, 115, 209, 1) 100%);
}

.root {
    --text-color: #C5C5C5;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* .paragraph {
        color: #c5c5c5;
        width: 606px;
        text-align: center;
        font-size: 12px;
        position: relative;
        left: 5rem;
        top: 5.5rem;
    } */
    .navbar h2 {
    color: #c5c5c5;
    position: relative;
    right: 2rem;
    top: 5px;
}

    .project {
        width: 218px;
        height: 146px;
        background-color: #2a2a2a;
        object-fit: contain;
        border-radius: 5px;
    }

    .main-pic {
        width: 205px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 115px;
        object-fit: contain;
    }

    .card ol li {
        color: white;
        margin-bottom: 8px;
        line-height: 20px;
        font-size: 0.8rem;
        font-weight: 300;
    }

    .sec-5-h1 {
        background-image: linear-gradient(90deg, purple 47%, red 100%);
        display: inline;
        color: transparent;
        -webkit-background-clip: text;
        position: relative;
        left: 2rem;
        animation: sec-5-animate both;
        animation-timeline: view();
        animation-range: 20% cover 40%;
    }

    .sec-4 {
        min-height: 400px;
        width: 100%;
        position: relative;
        top: 15rem;
        text-align: center;
        left: 5px;
    }

    .sec-5-para {
        color: #c5c5c5;
        width: 46rem;
        left: 1rem;
        position: relative;
        top: 0rem;
        text-align: left;
        font-size: .95rem;
        background-image: linear-gradient(90deg, purple 47%, red 100%);
        padding: 25px 45px;
        border-radius: 26px;
        animation: para-show both;
        animation-timeline: view();
        animation-range: 10% cover 30%;
    }

    .email {
        position: relative;
        left: 2rem;
        top: 2rem;
        display: inline-flex;
        align-items: center;
        border-radius: 10px;
    }

    .contact-img {
        position: relative;
        top: 311px;
        left: 1rem;
        display: flex;
        gap: 18px;
        padding: 12px 10px;
    }
}

@media (max-width: 575px) {
    /* .paragraph {
        color: #c5c5c5;
        width: 421px;
        text-align: center;
        font-size: 12px;
        position: relative;
        left: 0.5rem;
        top: 5.5rem;
    } */

    /* header {
        display: none;
    } */

    .sec-cards {
        display: grid;
        grid-template-columns: auto;
        height: 37rem;
        width: 100%;
        position: absolute;
        top: 56px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sec-4 {
        min-height: 400px;
        width: 100%;
        position: relative;
        top: 37rem;
        text-align: center;
    }

    .third-cards {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        gap: 10px;
        top: 22px;
        position: relative;
        height: 55rem;
    }

    .card {
        max-width: 350px;
        /* height: 22rem; */
        position: relative;
        background: #2a2a2a;
        border-radius: 10px;
        background-image: linear-gradient(105deg, #FF8660 20%, #9A33FF 100%);
        align-items: center;
        padding: 20px 25px;
        text-align: left;
        transition: transform .5s ease-in-out;
        height: 300px;
    }

    .sec-5 {
        position: relative;
        top: 42rem;
        display: grid;
        grid-template-columns: auto;
    }

    .sec-5-h1 {
        background-image: linear-gradient(90deg, purple 47%, red 100%);
        display: inline;
        color: transparent;
        -webkit-background-clip: text;
        position: relative;
        left: 2.5rem;
        animation: sec-5-animate both;
        animation-timeline: view();
        animation-range: 20% cover 40%;
    }

    .sec-5-para {
        color: #c5c5c5;
        width: 23rem;
        left: 2rem;
        position: relative;
        top: 0rem;
        text-align: left;
        font-size: .95rem;
        background-image: linear-gradient(90deg, purple 47%, red 100%);
        padding: 25px 45px;
        border-radius: 26px;
        animation: para-show both;
        animation-timeline: view();
        animation-range: 10% cover 30%;
    }

    .email {
        position: relative;
        left: 3rem;
        top: 2rem;
        display: inline-flex;
        align-items: center;
        border-radius: 10px;
        gap: 5px;
    }

    .contact-img {
        position: relative;
        top: 45rem;
        left: 2.5rem;
        display: flex;
        gap: 18px;
        padding: 12px 10px;
    }

    @keyframes card-show {

        from {
            opacity: 0;
            transform: translateY(3rem) scale(.5);
        }

        to {
            opacity: 1;
            transform: translateY(0rem) scale(1);
        }
    }

    @keyframes card-show-2 {

        from {
            opacity: 0;
            transform: translateY(3rem) scale(.5);
        }

        to {
            opacity: 1;
            transform: translateY(0rem) scale(1);
        }
    }

    @keyframes card-show-3 {

        from {
            opacity: 0;
            transform: translateY(3rem) scale(.5);
        }

        to {
            opacity: 1;
            transform: translateY(0rem) scale(1);
        }
    }

    .sidebar {
        width: 70%;
        height: 100vh;
        position: absolute;
        right: -100%;
        z-index: 1000;
        top: 0;
        display: block;
        opacity: .9;
        background-image: linear-gradient(purple 19%, red 100%);
transition: .5s ease;
    }

    .navbar ul {
        display: none;
    }

    .navb {
        display: flex;
        position: absolute;
        left: 39px;
        top: 128px;
    }

    .navb ol {}

    .navb ol li {
        padding: 20px 0px;
        list-style: none;
    }

    .navb ol li a {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
    }

.nav-logo {
        width: 40px;
        position: relative;
        right: 67px;
    }
    .navbar h2 {
    color: #c5c5c5;
    position: relative;
    right: 7rem;
    top: 0px;
}
    .navbar {
    display: flex
;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 10px 20px;
}
.hamburger{
        display: block;
        position: absolute;
        right: 6px;
        top: 8px;
    }
    .cross{
            position: absolute;
    top: 6px;
    width: 38px;
    right: 9px;

    }
    .sidebar.active {
  right: 0;
}

}